<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div align="center" class="row">
			<img align="center" alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/MacroMaticLogo.jpg" />
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Low on Time? Skip the log in for a Non-Persisted Macro
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/articles/create">Generate a Macro</a>
			</p>
		</div>
		<div class="row">
			<p class="lead">
				(This Macro will NOT be saved)
			</p>
		</div>
	</div>
	<div>
		<h2>Welcome to MacroMatic.</h2>
		<p>MacroMatic is a SPA syntax generator for common macro-supported entertainment applications. Model design has been structured in a way to allow for additional applicaiton-syntaxes to be supported.</p>
		<p>The application is still in its early stages of development, and YOU have the opportunity to shape its feature growth.</p>
		<ul>
			<li>
				Tracking and Showcasing 'Most Popular Macros'
			</li>
			<li>
				Profile Options that allow for online persistant access to previously generated macros.
			</li>
			<li>
				Sugestions for macro's that have a similar function.
			</li>
			<li>
				Consolidated support pages for listing additional tools that improve gameplay quality of life
			</li>
			<li>
				Other suggestions...
			</li>
		</ul>
	</div>
	<div class="row">
		<h2>
			Contact information
		</h2>
		<p>Contact me about any of new features you would like to see, or current features you want improved.
		<div col-md-3>
			<div class="well">
				<ul>
					<li><!-- <a target="_blank" href="http://meanjs.org/docs.html"> -->Email<!-- </a> --> - I check at least daily
					</li> 
					<li>Phone - Still deciding whether or not to provide phone support (something that I would do personally)
					</li> 
				</ul>
			</div>
		</div>
		All feedback will be considered; I do not have any automated-response generators so every reply comes from me personally.
		<br>
		<br>
	</div>
	<div class="well">
		<h2>Currently Supported Applications</h2>
		<p>
			Macro syntax can wildly vary from applicaiton to applicaiton; here is list of the applications currenlty supoorted:
			<ul>
				<li><!-- <a target="_blank" href="http://meanjs.org/docs.html"> -->World of Warcraf<!-- </a> --> -- make this a link to WoW specific macro gen.
				</li>
				<li>...pitiful, yes; more to come.
				</li>
			</ul>
		</p>
	</div>
	<br>Enjoy &amp; Contact me with Suggestions,
	<br>The MacroMatic Team.
	<br>
	<br>
	<br>
	<br>
	<br>
</section>
