<section data-ng-controller="ArticlesController as invoice">
	<div class="page-header">
		<h1>New Macro</h1>
	</div>
	<div class="col-md-12">
		<div>
	    <input type="button" ng-click="invoice.addAbility">Add an Ability</input>
	    </div>
	    <br>
	    <h2>Abilities:</h2>
		<div>
		  <span ng-repeat="a in invoice.abilitySyntax">
		  	AbilityName: <input ng-model="invoice.abilitySyntax" type="text" value={{$first | iif : "invoice.cast(a)" : "invoice.castWithMod(a,'shift'}}" size="30">
		  </span>
		  <button class="btn" ng-click="invoice.generateSyntax()">Generate</button>
		</div>
		<textarea type="text" cols="30" rows="10" ng-model="invoice.syntax" disabled="true"></textarea>
	</div>
</section>