<section data-ng-controller="ArticlesController as macroControl">
	<div class="page-header">
		<h1>New Macro</h1>
	</div>
	<div class="col-md-12">
		<div>
		<span>
	    	<button class="btn" ng-click="macroControl.addAbility()">Use an Ability</button>
	    	<button class="btn" ng-click="macroControl.addChat()">Add Chat</button>
	    	<button class="btn" ng-click="macroControl.addItem()">Use an Item</button>
		</span>
	    </div>

	    <br>
	    <h2>Abilities:</h2>
		<div>
		  	<span ng-repeat="a in macroControl.abilitySyntax">
		  		<div class="well">
				  	Ability ID: <input ng-model="a.abilityID" type="text" disabled="true">
				  	Ability Mod: <select ng-model="a.abilityMod">
								      <option ng-repeat="m in macroControl.modChoices">{{m}}</option>
								    </select>
				  	AbilityName: <input ng-model="a.abilityName" type="text" size="15">
		  		</div>
			</span>
		</div>
		<br>
	    <h2>Chat Functions:</h2>
		<div>
		  	<span ng-repeat="c in macroControl.chat">
		  		<div class="well">
		  			Message ID: <input ng-model="c.chatID" type="text" disabled="true">
		  			Message Volume: <select ng-model="c.chatVolume">
								      <option ng-repeat="v in macroControl.volume">{{v}}</option>
								    </select>
		  			Message: <input ng-model="c.chatMsg" type="text" cols="30" rows ="3">
		  		</div>
			</span>
		</div>
		<br>
	    <h2>Items Used:</h2>
		<div>
		  	<span ng-repeat="i in macroControl.itemUse">
		  		<div class="well">
		  			ItemUse ID: <input ng-model="i.itemID" type="number" disabled="true">
		  			Item Name: <input ng-model="i.itemName" type="text" size="15">
		  		</div>
			</span>
		</div>
		<br>
		<button class="btn" ng-click="macroControl.generateSyntax()">Generate</button>
		<textarea type="text" cols="30" rows="10" ng-model="macroControl.syntax" disabled="true"></textarea>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p alignment  margin-left="auto" margin-right="auto" width="60%">
			Thank you for using MacroMatic!<br>
			Please don't hesitate to provide a sugestions.
			<small><em>(Contact information is on the front page)</em></small>
		</p>
		<br>
		<br>
	</div>
</section>